<a href="https://colab.research.google.com/github/Kushagraraghav/python_code/blob/main/1stfeb2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
a=['yamini','saumya','lava','shresth','aaryan','kushagra'] #list
b=('yamini','saumya','lava','shresth','aaryan','kushagra') #tuple
#difference between them is that list is mutable and tuple is not mutuable
c=print(type(a))
d=print(type(b))
a.remove('yamini')
print(a)
a.append('dhakan')
print(a)
print(a[2:5])

<class 'list'>
<class 'tuple'>
['saumya', 'lava', 'shresth', 'aaryan', 'kushagra']
['saumya', 'lava', 'shresth', 'aaryan', 'kushagra', 'dhakan']
['shresth', 'aaryan', 'kushagra']

In [11]:
list_3=[i for i in range(20) if i%2 == 0]
print(list_3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [19]:
list_3=[i for i in range(20) if i%2 ==0]
print('list of even numbers in given range \n',list_3)
list_4=[i for i in range(20) if i%2 !=0]
print('list of odd numbers in given range \n ',list_4)

list of even numbers in given range
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
list of odd numbers in given range
  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [20]:
list_4 = [i for i in range(101)]
for i in list_4:
  if i%2 == 0:
    print(f'{i} is even')
  else:
    print(f'{i} is odd')

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
100 is even

In [24]:
my_list = ["a", "1", "b", "2", "3", "4", "c", "d"]
result = [val for val in my_list if val.isdigit()]
print(result)
result2 = [val for val in my_list if val.isalpha()]
print(result2)

['1', '2', '3', '4']
['a', 'b', 'c', 'd']

## immutualitbilty of the string

In [26]:
str_1 = 'hello'
print(id(str_1))
str_2 = 'world'
print(id(str_2))
str_1 = str_1+str_2
print(str_1)
print(id(str_1))

134531373609392
134530892801904
helloworld
134530529398512

In [40]:

a=(1,2,3,4,5,'hi')
for i in enumerate(a):# enumerate use to tell index
  print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 'hi')