<a href="https://colab.research.google.com/github/Kushagraraghav/python_code/blob/main/30thjan2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
num=''
for i in "500125606":
 num=str(num+i)
 print(num)

5
50
500
5001
50012
500125
5001256
50012560
500125606

In [9]:
num = input('enter ur name')
print("hello \n",num)

enter ur nameji
hello
 ji

In [29]:
a = 5
print(type(a))
b='s'
print(type(b))
c=1.234556789
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [34]:
list = ['a','bc,78,1.23']
list2 = ['d',78]
print(list)
print(list[0])
print(list[1:3])
print(list*2)
print(list + list2)

['a', 'bc,78,1.23']
a
['bc,78,1.23']
['a', 'bc,78,1.23', 'a', 'bc,78,1.23']
['a', 'bc,78,1.23', 'd', 78]

In [38]:
names = ['jay','vishu','abhinay','kushagra']
names.remove('vishu')
print(names)
print('jai shree krishna' in names)
print(len(names))
names.append('vishu')
print(names)

['jay', 'abhinay', 'kushagra']
False
3
['jay', 'abhinay', 'kushagra', 'vishu']

In [41]:
num_list = [1,2,3,4,5,6,'jai shree krishna']
for i in num_list:
  print(i)

1
2
3
4
5
6
jai shree krishna

In [42]:
list2= [1,2,3]
tuple2=(1,2,3)
print(type(list2))
print(type(tuple2))

<class 'list'>
<class 'tuple'>