<a href="https://colab.research.google.com/github/Kushagraraghav/python_code/blob/main/kittu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("welcome to pyhton")
a = 10
b=10
c=a+b
print(c)
print(type(a))

welcome to pyhton
20
<class 'int'>

In [2]:
stri_1="hello world"
type("stri_1")

str

In [5]:
# use of '+' as a concat sign
a="10"
b="20"
print(a+" "+b)

10 20

In [8]:
birth_year = int(input("what is my age "))
age = 2024- birth_year
print(age)

what is my age 2005
19

In [12]:
a=10
b=20.5
c=a+b
print(c)
print(type(c))

30.5
<class 'float'>

In [16]:
name=input("Enter your name ")
sap=int(input("Enter sap id "))
address=input('Enter address ')
cllg=int(input("enter cllg year "))
yr=int(input("enter your semester "))
pin=int(input("enter pincode "))
email=input("enter cllg email id ")
print(sap)

Enter your name saumya
Enter sap id 34526
Enter address bidholi
enter cllg year 1
enter your semester 2
enter pincode 23456
enter cllg email id wsedrftgyhj
34526

In [25]:
a="Hello_World"
print(a)
print(a[1])
print(a[2:5])
print(len(a))
print(a.lower())
print(a.upper())
print(a.replace("H","a"))
print(a.find('o'))#use to find the position of particular alpha
print(a.replace("llo","4"))

Hello_World
e
llo
11
hello_world
HELLO_WORLD
aello_World
4
He4_World